<div class="container">
    <br>
    
    <div class="wrapper">
        <div class="top-tasks">
            
            <% include ./partials/task-nav %>
    
        </div>
    
        <div class="body-tasks">
    
            <% include ./partials/pending %>
    
        </div>
    </div>